<div class="w-full pb-2">
  <div
    class="login flex flex-col justify-center text-center"
    *ngIf="access_token == null"
  >
    Need to login first to use Spotify webplayback
    <a [href]="login_link">
      <button
        type="button"
        class="w-3/12 focus:outline-none text-white bg-green hover:bg-green focus:ring-4 focus:ring-green font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-green dark:hover:bg-green dark:focus:ring-green"
      >
        Login
      </button></a
    >
  </div>

  <div
    class="image flex justify-center items-center flex-col w-full"
    *ngIf="access_token && !token_expired"
  >
    <button
      class="logout w-3/12 focus:outline-none text-white bg-green hover:bg-green focus:ring-4 focus:ring-green font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-green dark:hover:bg-green dark:focus:ring-green"
      (click)="logout()"
    >
      Logout
    </button>
    <div class="relative mb-6 w-full">
      <input
        id="minmax-range"
        type="range"
        min="0"
        max="100"
        [(ngModel)]="spotify_volume"
        (change)="updateVolume()"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
      />
      <span
        class="text-sm text-gray-500 dark:text-gray-400 absolute start-0 -bottom-6"
        >0</span
      >
      <span
        class="text-sm text-gray-500 dark:text-gray-400 absolute start-1/2 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6"
        >50</span
      >
      <span
        class="text-sm text-gray-500 dark:text-gray-400 absolute end-0 -bottom-6"
        >100</span
      >
    </div>
    <div
      class="image flex justify-center relative items-center w-full"
      [ngClass]="update_class ? 'h-50' : 'h-30vh w-30vh'"
    >
      <img
        class="border border-lightgreen rounded-lg"
        [ngClass]="
          !spot_to_yt
            ? 'h-50 w-full'
            : update_class
            ? 'animate-fadeOut h-50 w-30vh'
            : 'animate-fadeIn h-30vh w-30vh'
        "
        [src]="img_url"
        alt="Empty"
      />
      <app-loading
        [is_loading]="!device_ready"
        [additional_text]="'Spotify Device loading'"
      />
    </div>
  </div>

  <div
    class="image flex justify-center items-center flex-col w-full"
    *ngIf="access_token && token_expired"
  >
    <button
      class="refresh w-3/12 focus:outline-none text-white bg-green hover:bg-green focus:ring-4 focus:ring-green font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-green dark:hover:bg-green dark:focus:ring-green"
      (click)="refreshToken()"
    >
      Token expired, want to refresh token?
    </button>
  </div>
</div>
