<div class="rounded-lg border border-red w-full h-50" id="youtube-player"></div>
<div class="relative mb-6">
  <input
    id="minmax-range"
    type="range"
    min="0"
    max="100"
    [(ngModel)]="youtube_volume"
    (change)="updateVolume()"
    class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
  />
  <span
    class="text-sm text-gray-500 dark:text-gray-400 absolute start-0 -bottom-6"
    >0</span
  >
  <span
    class="text-sm text-gray-500 dark:text-gray-400 absolute start-1/2 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6"
    >50</span
  >
  <span
    class="text-sm text-gray-500 dark:text-gray-400 absolute end-0 -bottom-6"
    >100</span
  >
</div>
